body{
  background-color: aliceblue;
  margin: 0%;
}
.part1{
  width: 100%;
    height: 40px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2{
  width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3{
  width: 100%;
  height: 230px;
  background-color: rgba(128, 0, 128, 0.301);
  display: flex;
  justify-content: left;
  align-items: center;
}
